body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F2F3F7;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main {
  gap:20px;
  width:250px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 35px 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

}
.main>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 700;
  color: #111;
}
.main>div>label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}
.main>div>input {
  
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  font-size: 15px;
}


.btn {
  width: 100%;
  padding: 12px;
  background: #1d63e9;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 5px;
  
}

.btn:hover {
  background: #0c4edb;
}

.forgot {
  text-align: center;
  margin-top: 15px;
 
}

.forgot a {
  font-size: 14px;
  text-decoration: none;
  color: #1d63e9;

}

.forgot a:hover {
  text-decoration: underline;
}




